{% extends 'back-end/base/base.html' %}
{% load static %}
{% block base_page %}
        
        <!-- Top Bar End -->
        <div class="page-wrapper">
            <!-- Page Content-->
            <div class="page-content-tab">
                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Hospital</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Dashboard</h4>
                                  {% if messages %}
                                        {% for message in messages %}
                                            {% if message.tags%}<br><div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>{% endif %}
                                        {% endfor %}
                                    {% endif %}
                            </div>
                            <!--end page-title-box-->
                        </div>
                        <!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mb-0 header-title">Appointments</h4>
                                    <hr class="hr-dashed" />
                                    <div class="d-flex justify-content-between">
                                        <div class="icon-info align-self-center"><i class="las la-wheelchair text-pink font-40"></i></div>
                                        <div>
                                            <h4 class="font-22 font-weight-semibold text-right">{{appointments_no| floatformat}}</h4>
                                            <h6 class="font-12 text-muted mb-0 text-uppercase font-weight-semibold">Yesterday 32 App.</h6>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!-- end col-->
                        <div class="col-lg-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mb-0 header-title">New Admit</h4>
                                    <hr class="hr-dashed" />
                                    <div class="d-flex justify-content-between">
                                        <div class="icon-info align-self-center"><i class="las la-bed text-warning font-40"></i></div>
                                        <div>
                                            <h4 class="font-22 font-weight-semibold text-right">0</h4>
                                            <h6 class="font-12 text-muted mb-0 text-uppercase font-weight-semibold">Yesterday 32 Add.</h6>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!-- end col-->
                        <div class="col-lg-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mb-0 header-title">Operations</h4>
                                    <hr class="hr-dashed" />
                                    <div class="d-flex justify-content-between">
                                        <div class="icon-info align-self-center"><i class="las la-cut text-success font-40"></i></div>
                                        <div>
                                            <h4 class="font-22 font-weight-semibold text-right text-dark-alt">0</h4>
                                            <h6 class="font-12 text-muted mb-0 text-uppercase font-weight-semibold">Yesterday 10 Ope.</h6>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!-- end col-->
                        <div class="col-lg-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mb-0 header-title">Doctors</h4>
                                    <hr class="hr-dashed" />
                                    <div class="d-flex justify-content-between">
                                        <div class="align-self-center"><i class="las la-stethoscope text-purple font-40"></i></div>
                                        <div>
                                            <h4 class="font-22 font-weight-semibold text-right">{{doctors_no}}</h4>
                                            <h6 class="font-12 text-muted mb-0 text-uppercase font-weight-semibold">Today Available</h6>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!-- end col-->
                        <div class="col-lg-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mb-0 header-title">Nurses</h4>
                                    <hr class="hr-dashed" />
                                    <div class="d-flex justify-content-between">
                                        <div class="icon-info align-self-center"><i class="las la-user-nurse text-secondary font-40"></i></div>
                                        <div>
                                            <h4 class="font-22 font-weight-semibold text-right">0</h4>
                                            <h6 class="font-12 text-muted mb-0 text-uppercase font-weight-semibold">Today Available</h6>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!-- end col-->
                        <div class="col-lg-2">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mb-0 header-title">Earnings</h4>
                                    <hr class="hr-dashed" />
                                    <div class="d-flex justify-content-between">
                                        <div class="icon-info align-self-center"><i class="las la-hand-holding-usd text-primary font-40"></i></div>
                                        <div>
                                            <h4 class="font-22 font-weight-semibold text-right">$0.0</h4>
                                            <h6 class="font-12 text-muted mb-0 text-uppercase font-weight-semibold">Yesterday's $38,990</h6>
                                        </div>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!-- end col-->
                    </div>
                    <!--end row-->
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-body dash-info-carousel mb-0">
                                    <span class="text-success mb-2 d-block">Today Available</span>
                                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-12 align-self-center">
                                                        <h4 class="mt-0 header-title text-left">Apollo Hospital</h4>
                                                        <div class="media mt-3">
                                                            <img src="{% static 'backend/assets/images/users/dr-1.jpg' %}" alt="" height="120" class="rounded-circle" />
                                                            <div class="media-body align-self-center ml-3">
                                                                <h2 class="mb-1 mt-0 dr-title">Dr.Helen White</h2>
                                                                <p class="text-muted font-13 mb-2"><span class="mr-2 text-secondary">MS Cardiology</span> 11:00am to 03:00pm</p>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0 m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star-half text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><small class="text-muted">4.91/5 (1021 reviews)</small></li>
                                                                </ul>
                                                            </div>
                                                            <!--end media-body-->
                                                        </div>
                                                        <!--end media-->
                                                        <hr class="hr-dashed" />
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="text-center">
                                                                    <i data-feather="phone" class="align-self-center icon-lg icon-dual-info d-block mx-auto mb-2"></i>
                                                                    <h5 class="mt-0 mb-1">Phone No</h5>
                                                                    <p>+01 1234567890</p>
                                                                </div>
                                                                <!--end/div-->
                                                            </div>
                                                            <!--end col-->
                                                            <div class="col-6">
                                                                <div class="text-center">
                                                                    <i data-feather="globe" class="align-self-center icon-lg icon-dual-info d-block mx-auto mb-2"></i>
                                                                    <h5 class="mt-0 mb-1">Website</h5>
                                                                    <a href="#" class="text-primary mb-0 font-14">www.example123.com</a>
                                                                </div>
                                                                <!--end/div-->
                                                            </div>
                                                            <!--end col-->
                                                        </div>
                                                        <!--end row-->
                                                        <div class="p-2 bg-light">
                                                            <div class="media">
                                                                <h3 class="font-30">68</h3>
                                                                <div class="media-body align-self-center ml-3">
                                                                    <p class="mb-0 font-weight-semibold text-uppercase text-dark-alt">Appointments</p>
                                                                    <p class="mb-0 text-muted">Last Saturday 52 Appointments</p>
                                                                </div>
                                                                <!--end media-body-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end carousel-item-->
                                            <div class="carousel-item active">
                                                <div class="row">
                                                    <div class="col-12 align-self-center">
                                                        <h4 class="mt-0 header-title text-left">Kaiser Foundation Hospital</h4>
                                                        <div class="media mt-3">
                                                            <img src="../assets/images/users/dr-2.jpg" alt="" height="120" class="rounded-circle" />
                                                            <div class="media-body align-self-center ml-3">
                                                                <h2 class="mb-1 mt-0 dr-title">Dr.Wendy Keen</h2>
                                                                <p class="text-muted font-13 mb-2"><span class="mr-2 text-secondary">MD Neurology</span> 01:00pm to 04:00pm</p>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0 m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star-half text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><small class="text-muted">4.75/5 (521 reviews)</small></li>
                                                                </ul>
                                                            </div>
                                                            <!--end media-body-->
                                                        </div>
                                                        <!--end media-->
                                                        <hr class="hr-dashed" />
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="text-center">
                                                                    <i data-feather="phone" class="align-self-center icon-lg icon-dual-info d-block mx-auto mb-2"></i>
                                                                    <h5 class="mt-0 mb-1">Phone No</h5>
                                                                    <p>+01 1234567890</p>
                                                                </div>
                                                                <!--end/div-->
                                                            </div>
                                                            <!--end col-->
                                                            <div class="col-6">
                                                                <div class="text-center">
                                                                    <i data-feather="globe" class="align-self-center icon-lg icon-dual-info d-block mx-auto mb-2"></i>
                                                                    <h5 class="mt-0 mb-1">Website</h5>
                                                                    <a href="#" class="text-primary mb-0 font-14">www.example123.com</a>
                                                                </div>
                                                                <!--end/div-->
                                                            </div>
                                                            <!--end col-->
                                                        </div>
                                                        <!--end row-->
                                                        <div class="p-2 bg-light">
                                                            <div class="media">
                                                                <h3 class="font-30">42</h3>
                                                                <div class="media-body align-self-center ml-3">
                                                                    <p class="mb-0 font-weight-semibold text-uppercase text-dark-alt">Appointments</p>
                                                                    <p class="mb-0 text-muted">Last Saturday 24 Appointments</p>
                                                                </div>
                                                                <!--end media-body-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end carousel-item-->
                                            <div class="carousel-item">
                                                <div class="row">
                                                    <div class="col-12 align-self-center">
                                                        <h4 class="mt-0 header-title text-left">Florida Hospital</h4>
                                                        <div class="media mt-3">
                                                            <img src="../assets/images/users/dr-3.jpg" alt="" height="120" class="rounded-circle" />
                                                            <div class="media-body align-self-center ml-3">
                                                                <h2 class="mb-1 mt-0 dr-title">Dr.Lisa King</h2>
                                                                <p class="text-muted font-13 mb-2"><span class="mr-2 text-secondary">MD Orthopedic</span> 09:00am to 11:30am</p>
                                                                <ul class="list-inline mb-0">
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0 m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><i class="mdi mdi-star-half text-warning font-20"></i></li>
                                                                    <li class="list-inline-item m-0"><small class="text-muted">4.87/5 (628 reviews)</small></li>
                                                                </ul>
                                                            </div>
                                                            <!--end media-body-->
                                                        </div>
                                                        <!--end media-->
                                                        <hr class="hr-dashed" />
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="text-center">
                                                                    <i data-feather="phone" class="align-self-center icon-lg icon-dual-info d-block mx-auto mb-2"></i>
                                                                    <h5 class="mt-0 mb-1">Phone No</h5>
                                                                    <p>+01 1234567890</p>
                                                                </div>
                                                                <!--end/div-->
                                                            </div>
                                                            <!--end col-->
                                                            <div class="col-6">
                                                                <div class="text-center">
                                                                    <i data-feather="globe" class="align-self-center icon-lg icon-dual-info d-block mx-auto mb-2"></i>
                                                                    <h5 class="mt-0 mb-1">Website</h5>
                                                                    <a href="#" class="text-primary mb-0 font-14">www.example123.com</a>
                                                                </div>
                                                                <!--end/div-->
                                                            </div>
                                                            <!--end col-->
                                                        </div>
                                                        <!--end row-->
                                                        <div class="p-2 bg-light">
                                                            <div class="media">
                                                                <h3 class="font-30">35</h3>
                                                                <div class="media-body align-self-center ml-3">
                                                                    <p class="mb-0 font-weight-semibold text-uppercase text-dark-alt">Appointments</p>
                                                                    <p class="mb-0 text-muted">Last Saturday 48 Appointments</p>
                                                                </div>
                                                                <!--end media-body-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                                <!--end row-->
                                            </div>
                                            <!--end carousel-item-->
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!-- end col-->
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mt-0">Hospital Survey</h4>
                                    <div class=""><div id="hospital_survey" class="apex-charts"></div></div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!-- end col-->
                    </div>
                    <!--end row-->
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title">Admit New Patients</h4>
                                    <div class="row">
                                        <div class="col-md-4 align-self-center">
                                            <div class="text-center">
                                                <div class="icon-info mb-3"><i class="fas fa-procedures bg-soft-info mx-auto"></i></div>
                                                <h2 class="mt-0 font-weight-bold">1200</h2>
                                                <p class="mb-0 text-muted">
                                                    <span class="text-success"><i class="mdi mdi-arrow-up"></i>14.5%</span> Up From Last Week
                                                </p>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-8 align-self-center">
                                            <div class="apexchart-wrapper"><div id="patient_dash_report" class="chart-gutters"></div></div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h4 class="header-title mt-0 mb-3">Pharmacy Stocks</h4>
                                            <div class="apexchart-wrapper"><div id="dash_medicine" class="apex-charts"></div></div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-7 align-self-center">
                                            <div class="text-center">
                                                <img src="../assets/images/widgets/weather.png" alt="" height="70" />
                                                <h2>32°</h2>
                                                <h4 class="title-text">San Francisco, California</h4>
                                                <p class="text-muted">SUNDAY 25<sup>th</sup> Aug 2020</p>
                                                <button type="button" class="btn btn-sm btn-outline-primary btn-round dual-btn-icon">View Details <i class="mdi mdi-arrow-right"></i></button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                    <div class="row">
                          <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mt-0 mb-3">Appointments</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Name</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Doctor</th>
                                                    <th>Booked on</th>
                                                    <th>Action</th>

                                                    {% comment %} <th class="text-right">Action</th> {% endcomment %}
                                                </tr>
                                                <!--end tr-->
                                            </thead>
                                            <tbody>
                                            {% for appointment in appointments %}
                                                <tr>
                                                    {% comment %} <td>
                                                        <a href="patient-profile.html"><img src="../assets/images/users/user-10.jpg" alt="" class="thumb-sm rounded-circle mr-2" />Donald Gardner</a>
                                                    </td> {% endcomment %}
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{appointment.user}}</td>
                                                    <td>{{appointment.date}}</td>
                                                    <td>{{appointment.time}}</td>
                                                     <td>{{appointment.doctor}}</td>
                                                    <td>{{appointment.date_booked}}</td>
                                                    <td>
                                                    <button class="btn btn-blue">Edit</button>
                                                    
                                                    <button class="btn btn-beanred">Delete</button>
                                                    
                                                    </td>

                                                   
                                                    {% comment %} <td><span class="badge badge-soft-danger p-2">Cancer</span></td> {% endcomment %}
                                                   
                                                </tr>
                                            {% endfor %}
                                                <!--end tr-->
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title mt-0 mb-3">All Staff</h4>
                                    <div class="table-responsive">
                                        <table class="table">
                                        <a href="{% url 'addStaff' %}"><button class="btn btn-blue mb-4">Add Staff</button></a>
                                            
                                            <thead class="thead-light">
                                           
                                                <tr>
                                                    <th>S/N</th>
                                                    <th>Staff</th>
                                                    <th>Gender</th>
                                                    <th>Phone</th>
                                                    <th>Email</th>
                                                    <th>Joined on</th>
                                                    <th>Age</th>
                                                    <th>Address</th>
                                                    <th>Office</th>

                                                    <th>Action</th>
                                                </tr>
                                            
                                                <!--end tr-->
                                            </thead>
                                            <tbody>
                                             {% for staff in getStaff %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>

                                                   <td>
                                                        <a href=""><img src="{{staff.photo.url}}" alt="" class="thumb-sm rounded-circle mr-2" />{{staff.first_name}} {{staff.last_name}}</a>
                                                    </td> 
                                                  
                                                   
                                                    <td>{{staff.gender}}</td>
                                                    <td>{{staff.phone}}</td>
                                                     <td>{{staff.email |truncatechars:10}}</td>
                                                    <td>{{staff.joined_at |truncatechars:5}}</td>

                        
                                                     <td>{{staff.age}}</td>
                                                    <td>{{staff.address |truncatechars:5}}</td>
                                                    <td>{{staff.staff_type}}</td>

                                                    <td>
                                                    <button class="btn btn-blue">Edit</button>
                                                    
                                                    <button class="btn btn-beanred">Delete</button>
                                                    
                                                    </td>

                                                   
                                                    {% comment %} <td><span class="badge badge-soft-danger p-2">Cancer</span></td> {% endcomment %}
                                                   
                                                </tr>
                                                <!--end tr-->
                                            {% endfor %}
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!--end card-body-->
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>
                <!-- container --><!--  Modal content for the above example -->
                <div class="modal modal-rightbar fade" tabindex="-1" role="dialog" aria-labelledby="MetricaRightbar" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="MetricaRightbar">Appearance</h5>
                                <button type="button" class="btn btn-sm btn-soft-primary btn-circle btn-square" data-dismiss="modal" aria-hidden="true"><i class="mdi mdi-close"></i></button>
                            </div>
                            <div class="modal-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-pills nav-justified mt-2 mb-4" role="tablist">
                                    <li class="nav-item waves-effect waves-light"><a class="nav-link active" data-toggle="tab" href="#ActivityTab" role="tab">Activity</a></li>
                                    <li class="nav-item waves-effect waves-light"><a class="nav-link" data-toggle="tab" href="#TasksTab" role="tab">Tasks</a></li>
                                    <li class="nav-item waves-effect waves-light"><a class="nav-link" data-toggle="tab" href="#SettingsTab" role="tab">Settings</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="ActivityTab" role="tabpanel">
                                        <div class="bg-light mx-n3"><img src="../assets/images/small/img-1.gif" alt="" class="d-block mx-auto my-4" height="180" /></div>
                                        <div class="slimscroll scroll-rightbar">
                                            <div class="activity">
                                                <div class="activity-info">
                                                    <div class="icon-info-activity"><i class="mdi mdi-checkbox-marked-circle-outline bg-soft-success"></i></div>
                                                    <div class="activity-info-text mb-2">
                                                        <div class="mb-1"><small class="text-muted d-block mb-1">10 Min ago</small> <a href="#" class="m-0 w-75">Task finished</a></div>
                                                        <p class="text-muted mb-2 text-truncate">There are many variations of passages.</p>
                                                    </div>
                                                </div>
                                                <div class="activity-info">
                                                    <div class="icon-info-activity"><i class="mdi mdi-timer-off bg-soft-pink"></i></div>
                                                    <div class="activity-info-text mb-2">
                                                        <div class="mb-1"><small class="text-muted d-block mb-1">50 Min ago</small> <a href="#" class="m-0 w-75">Task Overdue</a></div>
                                                        <p class="text-muted mb-2 text-truncate">There are many variations of passages.</p>
                                                        <span class="badge badge-soft-secondary">Design</span> <span class="badge badge-soft-secondary">HTML</span>
                                                    </div>
                                                </div>
                                                <div class="activity-info">
                                                    <div class="icon-info-activity"><i class="mdi mdi-alert-decagram bg-soft-purple"></i></div>
                                                    <div class="activity-info-text mb-2">
                                                        <div class="mb-1"><small class="text-muted d-block mb-1">10 hours ago</small> <a href="#" class="m-0 w-75">New Task</a></div>
                                                        <p class="text-muted mb-2 text-truncate">There are many variations of passages.</p>
                                                    </div>
                                                </div>
                                                <div class="activity-info">
                                                    <div class="icon-info-activity"><i class="mdi mdi-clipboard-alert bg-soft-warning"></i></div>
                                                    <div class="activity-info-text mb-2">
                                                        <div class="mb-1"><small class="text-muted d-block mb-1">yesterday</small> <a href="#" class="m-0 w-75">New Comment</a></div>
                                                        <p class="text-muted mb-2 text-truncate">There are many variations of passages.</p>
                                                    </div>
                                                </div>
                                                <div class="activity-info">
                                                    <div class="icon-info-activity"><i class="mdi mdi-clipboard-alert bg-soft-secondary"></i></div>
                                                    <div class="activity-info-text mb-2">
                                                        <div class="mb-1"><small class="text-muted d-block mb-1">01 feb 2020</small> <a href="#" class="m-0 w-75">New Lead Meting</a></div>
                                                        <p class="text-muted mb-2 text-truncate">There are many variations of passages.</p>
                                                    </div>
                                                </div>
                                                <div class="activity-info">
                                                    <div class="icon-info-activity"><i class="mdi mdi-checkbox-marked-circle-outline bg-soft-success"></i></div>
                                                    <div class="activity-info-text mb-2">
                                                        <div class="mb-1"><small class="text-muted d-block mb-1">26 jan 2020</small> <a href="#" class="m-0 w-75">Task finished</a></div>
                                                        <p class="text-muted mb-2 text-truncate">There are many variations of passages.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end activity-->
                                        </div>
                                        <!--end activity-scroll-->
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane" id="TasksTab" role="tabpanel">
                                        <div class="m-0"><div id="rightbar_chart" class="apex-charts"></div></div>
                                        <div class="text-center mt-n2 mb-2"><button type="button" class="btn btn-soft-primary">Create Project</button> <button type="button" class="btn btn-soft-primary">Create Task</button></div>
                                        <div class="slimscroll scroll-rightbar">
                                            <div class="p-2">
                                                <div class="media mb-3">
                                                    <img src="../assets/images/widgets/project3.jpg" alt="" class="thumb-lg rounded-circle" />
                                                    <div class="media-body align-self-center text-truncate ml-3">
                                                        <p class="text-success font-weight-semibold mb-0 font-14">Project</p>
                                                        <h4 class="mt-0 mb-0 font-weight-semibold text-dark font-18">Payment App</h4>
                                                    </div>
                                                    <!--end media-body-->
                                                </div>
                                                <span><b>Deadline:</b> 02 June 2020</span>
                                                <a href="javascript: void(0);" class="d-block mt-3">
                                                    <p class="text-muted mb-0">Complete Tasks<span class="float-right">75%</span></p>
                                                    <div class="progress mt-2" style="height: 4px;">
                                                        <div class="progress-bar bg-secondary" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </a>
                                            </div>
                                            <hr class="hr-dashed" />
                                        </div>
                                    </div>
                                    <!--end tab-pane-->
                                    <div class="tab-pane" id="SettingsTab" role="tabpanel">
                                        <div class="p-1 bg-light mx-n3"><h6 class="px-3">Account Settings</h6></div>
                                        <div class="p-2 text-left mt-3">
                                            <div class="custom-control custom-switch switch-primary mb-3">
                                                <input type="checkbox" class="custom-control-input" id="settings-switch1" checked="" /> <label class="custom-control-label" for="settings-switch1">Auto updates</label>
                                            </div>
                                            <div class="custom-control custom-switch switch-primary mb-3">
                                                <input type="checkbox" class="custom-control-input" id="settings-switch2" /> <label class="custom-control-label" for="settings-switch2">Location Permission</label>
                                            </div>
                                            <div class="custom-control custom-switch switch-primary mb-3">
                                                <input type="checkbox" class="custom-control-input" id="settings-switch3" checked="" /> <label class="custom-control-label" for="settings-switch3">Show offline Contacts</label>
                                            </div>
                                        </div>
                                        <div class="p-1 bg-light mx-n3"><h6 class="px-3">General Settings</h6></div>
                                        <div class="p-2 text-left mt-3">
                                            <div class="custom-control custom-switch switch-primary mb-3">
                                                <input type="checkbox" class="custom-control-input" id="settings-switch4" checked="" /> <label class="custom-control-label" for="settings-switch4">Show me Online</label>
                                            </div>
                                            <div class="custom-control custom-switch switch-primary mb-3">
                                                <input type="checkbox" class="custom-control-input" id="settings-switch5" /> <label class="custom-control-label" for="settings-switch5">Status visible to all</label>
                                            </div>
                                            <div class="custom-control custom-switch switch-primary mb-3">
                                                <input type="checkbox" class="custom-control-input" id="settings-switch6" checked="" /> <label class="custom-control-label" for="settings-switch6">Notifications Popup</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end tab-pane-->
                                </div>
                                <!--end tab-content-->
                            </div>
                            <!--end modal-body-->
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <footer class="footer text-center text-sm-left">
                    &copy; 2019 - 2020 Metrica <span class="text-muted d-none d-sm-inline-block float-right">Crafted with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes</span>
                </footer>
                <!--end footer-->
            </div>
            <!-- end page content -->
        </div>
{% endblock base_page %}