{% extends 'front-end/base/base.html' %}
{% load static %}
{% block header_footer %}
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title">{{staff.first_name}} {{staff.last_name}}</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <div class="container">
                                    <div class="breadcrumb-wrapper-inner">
                                        <span>
                                            <a title="Go to Delmont." href="index.html" class="home"><i class="themifyicon ti-home"></i>&nbsp;&nbsp;Home</a>
                                        </span>
                                        <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                        <span>{{staff.first_name}} {{staff.last_name}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main single">

        <section class="ttm-row overview-section clearfix">
            <div class="ttm-team-member-single-content-wrapper ttm-team-member-view-default">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ttm-team-member-single-content">
                                <div class="ttm-social-links-wrapper">
                                    <ul class="social-icons">
                                        <li class="social-facebook">
                                            <a class="tooltip-top" target="_blank" href="#" data-tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li class="social-twitter">
                                            <a class="tooltip-top" target="_blank" href="#" data-tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li class="social-gplus">
                                            <a class="tooltip-top" target="_blank" href="#" data-tooltip="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-12">
                                        <!-- ttm-featured-wrapper -->
                                        <div class="ttm-featured-wrapper"> 
                                            <div class="featured-thumbnail">
                                                <img class="img-fluid" src="{{staff.photo.url}}" alt="image">
                                            </div> 
                                        </div><!-- ttm-featured-wrapper end--> 
                                    </div>
                                    <div class="ttm-team-member-single-content-area col-md-12 col-lg-7">
                                        <div class="ttm-team-member-content shadow-box">
                                            <div class="ttm-team-member-single-list">
                                                <h2 class="ttm-team-member-single-title">{{staff.first_name}} {{staff.last_name}}</h2>
                                                <h5 class="ttm-team-member-single-position">{{staff.staff_type}}</h5>
                                                <div class="ttm-team-member-appointment-btn-wrapper">
                                                    <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor mb-20" href="{% url 'profile' %}">MAKE AN APPOINTMENT</a>
                                                </div>
                                                <div class="ttm-team-data">
                                                    <div class="ttm-team-details-wrapper">
                                                        <ul class="ttm-team-details-list clearfix">
                                                            <li>
                                                                <div class="ttm-team-list-title">
                                                                    <i class="fa fa-phone"></i> Phone :
                                                                </div>
                                                                <div class="ttm-team-list-value"><a href="tel:{{staff.phone}}"> {{staff.phone}}</a></div>
                                                            </li>
                                                            <li>
                                                                <div class="ttm-team-list-title">
                                                                    <i class="ti ti-email"></i> Email :
                                                                </div>
                                                                <div class="ttm-team-list-value">
                                                                    <a href="mailto:{{staff.email}}" tabindex="0"> {{staff.email}}</a>
                                                                </div>
                                                            </li>
                                                             <li>
                                                                <div class="ttm-team-list-title">
                                                                    <i class="ti ti-location-pin"></i> Address Info :
                                                                </div>
                                                                <div class="ttm-team-list-value"> {{staff.address}}</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ttm-team-member-single-content">
                                <div class="ttm-team-member-content">
                                    <h2>Overview</h2>
                                    <div class="pt-5 row">
                                        <div class="col-sm-8">
                                            <div class="pr-20">
                                                <p>Lorem Ipsum is simply dummy text of the <strong>printing and typesetting industry.</strong> Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <!-- ttm_single_image-wrapper -->
                                            <div class="ttm_single_image-wrapper">
                                                <img class="img-fluid" src="images/single-img-five.jpg" alt="">
                                            </div><!-- ttm_single_image-wrapper end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- expertise-section -->
        <section class="ttm-row expertise-section ttm-bgcolor-grey clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-40">
                            <h3>Honors and Awards</h3>
                        </div>
                        <!--featured-icon-box-->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                                    <i class="fa fa-trophy"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>2018 World Health Oraganized Award</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end-->
                        <!--featured-icon-box-->
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded">
                                    <i class="fa fa-medkit"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>2016 Doctor's Choice Award</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam modi tempora incidunt ut labore et dolore.</p>
                                </div>
                            </div>
                        </div><!-- featured-icon-box end-->
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="ttm-tabs ttm-tab-color-grey ttm-tab-style-classic res-991-mt-30 clearfix">
                            <!-- tabs -->
                            <ul class="tabs">
                                <li class="tab active"><a href="#">Education</a></li>
                                <li class="tab"><a href="#">Skills</a></li>
                                <li class="tab"><a href="#">Experience</a></li>
                            </ul>
                            <div class="content-tab">
                                <div class="content-inner">
                                    <h5>Practical Degree From NY</h5>
                                    <span class="ttm-textcolor-skincolor">2016-2018</span>
                                    <div class="mb-25">
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
                                    </div>
                                    <h5>Medical University of South Carolina</h5>
                                    <span class="ttm-textcolor-skincolor">2016-2018</span>
                                    <div class="mb-25">
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni.</p>
                                    </div>
                                </div>
                                <div class="content-inner">
                                    <!-- ttm-progress-bar -->
                                    <div class="ttm-progress-bar ttm-icon-left-true">
                                        <div class="ttm-icon_element-color-skincolor">
                                            <i class="flaticon-dentist"></i>
                                        </div>
                                        <h4>Teeth Whitening</h4>
                                        <div class="progress" data-value="90%">
                                            <div class="progress-bar progress-bar-color-bar_skincolor">
                                                <div class="progress-parcent"><span>90</span>%</div>
                                            </div>
                                        </div>
                                    </div><!-- ttm-progress-bar end -->
                                    <!-- ttm-progress-bar -->
                                    <div class="ttm-progress-bar ttm-icon-left-true">
                                        <div class="ttm-icon_element-color-skincolor">
                                            <i class="flaticon-doctor-2"></i>
                                        </div>
                                        <h4>Quality Brackets</h4>
                                        <div class="progress" data-value="80%">
                                            <div class="progress-bar progress-bar-color-bar_skincolor">
                                                <div class="progress-parcent"><span>80</span>%</div>
                                            </div>
                                        </div>
                                    </div><!-- ttm-progress-bar end -->
                                    <!-- ttm-progress-bar -->
                                    <div class="ttm-progress-bar ttm-icon-left-true">
                                        <div class="ttm-icon_element-color-skincolor">
                                            <i class="fa fa-user-md"></i>
                                        </div>
                                        <h4>Teeth Cleaning</h4>
                                        <div class="progress" data-value="90%">
                                            <div class="progress-bar progress-bar-color-bar_skincolor">
                                                <div class="progress-parcent"><span>90</span>%</div>
                                            </div>
                                        </div>
                                    </div><!-- ttm-progress-bar end -->
                                </div>
                                <div class="content-inner">
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum.</p>
                                    <p>quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, aliquam quaerat voluptatem.It has survived not only five centuries, but also the leap into. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- expertise-section end -->

        <!-- cta-form-section -->
        <section class="ttm-row cta-form-section clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pb-10">
                            <h3>Contact Me</h3>
                        </div>
                        <form class="wrap-form clearfix" method="post" action="#">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>
                                        <span class="text-input"><input name="your-name" type="text" value="" placeholder="Name*:" required="required"></span>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        <span class="text-input"><input name="your-email" type="text" value="" placeholder="Email*:" required="required"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>
                                        <span class="text-input"><input name="your-subject" type="text" value="" placeholder="Subject*:" required="required"></span>
                                    </label>
                                </div>
                                <div class="col-sm-6">
                                    <label>
                                        <span class="text-input"><input name="your-phone" type="text" value="" placeholder="Phone:" required="required"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>
                                        <span class="text-input"><textarea name="your-message" cols="40" rows="3" placeholder="Message*:" aria-required="true"></textarea></span>
                                    </label>
                                </div>
                            </div>
                            <input name="submit" type="submit" id="submit" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10" value="SEND MESSAGE"/>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- cta-form-section end -->
        
    </div><!--site-main end-->

{% endblock header_footer %}
   